
<input type="checkbox" class="form-check-input" checked="<%= employee.isAdmin == 1%>
" id="exampleCheck1" name="isAdmin" id="isAdmin" autocomplete="off">
<label  class="form-check-label" for="exampleCheck1">Administrator</label>