<label for="Name"><b>First name</b></label><br>
<input type="text" class="textbox" id="lastName" value="" placeholder="Enter the firstname here" name="lastName" required autocomplete="off" /><br>
<label for="Vorname"><b>Last Name</b></label><br>
<input type="text" class="textbox" id="firstName" value="" placeholder="Enter the lastname here" name="firstName" required autocomplete="off" /><br>
<label for="email"><b>Email</b></label><br>
<input type="email" class="textbox" id="email" value="" placeholder="Enter an Email Adress here" name="email" required autocomplete="off" /><br>

<label for="phone"><b>Phone</b></label><br>
<input type="number" class="textbox" id="phone" value="" placeholder="Enter the Phone number here" name="phone" autocomplete="off" />



<% if(employee.isAdmin === 1) { %><label for="admin"><b>Administartor</b></label>
<input type="checkbox"  id="checkboxAdmin" <% if (checked = true){ %> { value="1" } <%}%>  name="checkboxAdmin" /><br> <%}%>



