<label for="Name"><b>Name</b></label><br>
<input type="text" class="textbox" id="lastName" value="<%= employee.last_name %>" placeholder="Name Eingeben" name="lastName" required autocomplete="off" />
<label for="Vorname"><b>Vorname</b></label>
<input type="text" class="textbox" id="firstName" value="<%= employee.first_name %>" placeholder="Vorname Eingeben" name="firstName" required autocomplete="off" /><br>
<label for="email"><b>Email</b></label><br>
<input type="email" class="textbox" id="email" value="<%= employee.email %>" placeholder="Email Eingeben" name="email" required autocomplete="off" /><br>

<label for="phone"><b>Phone</b></label><br>
<input type="number" class="textbox" id="phone" value="<%= employee.phone %>" placeholder="Telefon nummer eingeben" name="phone" autocomplete="off" />


<label for="admin"><b>Administartor</b></label>
<input type="checkbox"  id="checkboxAdmin" <% if (checked = true){ %> { value="1" } <%}%>  name="checkboxAdmin" /><br>

