<footer>

<div class="txt-bold">

    Entwicklungsteam

</div>


    <div class="footer-container">
        <div class="div1">

            <table>

                <tr>
                    <td>

                        <img src="/images/iliass.png" width="50%" height="50%">

                    </td>

                </tr>

                <tr>
                    <td>
                        <p> Iliass Hilmi</p>
                        <p> Email: inf2766@hs-worms.de</p>
                        <p> Rolle: Front-End</p>


                    </td>


                </tr>



            </table>

        </div>

        <div class="div2">

            <table>

                <tr>
                    <td>

                        <img src="/images/walid.png" width="50%" height="50%">

                    </td>

                </tr>

                <tr>
                    <td>
                        <p> Oualid EL BAKKARI</p>
                        <p> Email: inf2766@hs-worms.de</p>
                        <p> Rolle: Back-End</p>

                    </td>
                </tr>
            </table>




        </div>
    </div>




    <div class="CopyR">

        Copyright © 2019 , All Rights Reserved.

    </div>

</footer>