
<label for="Name"><b>Name</b></label><br>
<input type="text" class="textbox" id="lastName" value="<%= guest.last_name %>" placeholder="Name Eingeben" name="lastName" required autocomplete="off" />
<label for="Vorname"><b>Vorname</b></label>
<input type="text" class="textbox" id="firstName" value="<%= guest.first_name %>" placeholder="Vorname Eingeben" name="firstName" required autocomplete="off" /><br>
<label for="email"><b>Email</b></label><br>
<input type="email" class="textbox" id="email" value="<%= guest.email %>" placeholder="Email Eingeben" name="email" required autocomplete="off" /><br>

<label for="phone"><b>Phone</b></label><br>
<input type="number" class="textbox" id="phone" value="<%= guest.phone %>" placeholder="Telefon nummer eingeben" name="phone" autocomplete="off" />