<label for="Name"><b>Firstname</b></label><br>
<input type="text" class="textbox" id="lastName" value="<%= guest.last_name %>" placeholder="Enter the firstname here" name="lastName" required autocomplete="off" />
<label for="Vorname"><b>Lastname</b></label>
<input type="text" class="textbox" id="firstName" value="<%= guest.first_name %>" placeholder="Enter the lastname here" name="firstName" required autocomplete="off" /><br>
<label for="email"><b>Email</b></label><br>
<input type="email" class="textbox" id="email" value="<%= guest.email %>" placeholder="Enter an Email Adress here" name="email" required autocomplete="off" /><br>

<label for="phone"><b>Phone</b></label><br>
<input type="number" class="textbox" id="phone" value="<%= guest.phone %>" placeholder="Enter a Phone Number here" name="phone" autocomplete="off" />