<label for="psw"><b>Password</b></label>
<input type="password" class="textbox" id="password" placeholder="Enter here a Password" name="password" required autocomplete="off" />
<label for="psw-repeat"><b>Repeat Password</b></label>
<input type="password"  class="textbox" id="password_r"  placeholder="Repeat the password here" data-match="#password" data-match-error="Whoops, passwords don't match" name="password_r" required autocomplete="off" />