<label for="psw"><b>Password</b></label>
<input type="password" class="textbox" id="password" placeholder="Password Eingeben" name="password" required autocomplete="off" />
<label for="psw-repeat"><b>Password wiederholen</b></label>
<input type="password"  class="textbox" id="password_r"  placeholder="Password wiederholen" data-match="#password" data-match-error="Whoops, passwords don't match" name="password_r" required autocomplete="off" />