<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/head %>
</head>
<body>
<% include ./partials/header.ejs %>

<center>

    <section class="SecMin">
        <form action="/employee/<%= employee.id %>/update/password" method="post">

            <p class="sub-titel">Change password</p>
            <hr />

            <% if (error){ %>
                <p style="color: red;"><%= error %></p>
                <hr/>
            <% } %>

            <label for="psw"><b>Old password</b></label>
            <input type="password" class="textbox" id="password" name="password" placeholder="Old password" name="password" required autocomplete="off" /><br>

            <label for="psw"><b>New password</b></label>
            <input type="password" class="textbox" id="new_password" name="new_password" placeholder="New password" name="password" required autocomplete="off" /><br>

            <label for="psw"><b>Repeat password</b></label>
            <input type="password" class="textbox" id="password_r" name="password_r" placeholder="Repeat new password" name="password" required autocomplete="off" />

            <hr />

        </form>
        <input id="submitbtn" name="submitbtn" class="btn-Glob" type="submit" value="Change" />
    </section>
</center>

<% include ./partials/footer %>
</body>
</html>