<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<% include ./partials/header %>

<center>

    <section class="SecMin">
        <form action="/employee/<%= employee.id %>/update" method="post" data-toggle="validator" role="form">

            <p class="sub-titel">Edit your profile</p>
            <hr />

            <% if (error){ %>
                <p style="color: red;"><%= error %></p>
                <hr/>
            <% } %>

            <% include ./partials/employee_input %>

            <hr />
            <input id="submitbtn" name="submitbtn" class="btn-Glob" type="submit" value="Edit" />
        </form>
    </section>

</center>

<% include ./partials/footer %>
</body>

</html>