<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<% include ./partials/header %>

<center>
    <h1> Welcom to Hotel Management </h1>
    <h3>Simple online hotel management system
        for small hotels, inns, bed and breakfasts
        (B&Bs), guest houses, and apartments.</h3>
</center>
<% include ./partials/footer %>
</body>

</html>