<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<% include ./partials/header %>

<div class="home">
    <h1> Welcom to Hotel Management </h1>

    <h3>Simple online hotel management system
        for small hotels, inns, guest houses and apartments.</h3><br>


    <a href="/employee/login" class="btn-sign-in">Get started!</a>
    <p class="home">Developed by Iliass</p>


</div>

</body>
</html>