<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<% include ./partials/header %>



    <section class = "SecLog">
        <form action="/employee/login" method="post">

            <p class="sub-titel">Anmeldung</p>
            <p><%error%></p>
            <p>Enter your Email and Password</p>
            <hr />

            <% if (error){ %>
                <p style="color: red;"><%= error %></p>
                <hr/>
            <% } %>

            <label for="email"><b>Email</b></label><br>

            <input type="email" class="textbox" id="email" placeholder="Email Eingeben" name="email" required autocomplete="off" /><br>

            <label for="psw"><b>Password</b></label>
            <input type="password" class="textbox" id="password" placeholder="Password Eingeben" name="password" required autocomplete="off" />

            <hr />

            <input  name="submitbtn" class="btn-Glob" type="submit" value="Login" />

        </form>
    </section>



<% include ./partials/footer %>
</body>

</html>