/* Css Datei
Name: Iliass Hilmi
Immatrikulation Nummer : 672515
Projekt: CSA
Rolle: Client Seitige

*/

body{
  background-image: url("/images/marten-bjork-n_IKQDCyrG0-unsplash.jpg");
  background-attachment: fixed;
  background-position: center;
  filter: opacity(opacity: 30%);
  z-index: -1;
  background-repeat: no-repeat;
}

/*Menu */
nav {
  background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  font-weight: bold;
}

.Layout {
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.Layoutli {
  float:left;

}

.Layoutli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;


}

.Layoutli a:hover:not(.active) {
  background-image: linear-gradient(to right, rgba(200,0,0,0), rgb(21, 40, 255));
  text-decoration: none;
  color:white;
}

/*  Sections */

.home{
  color: white;
  text-align: center;
  margin-top: 8em;
  text-shadow: 5px 10px 8px black;
}
.SecGlobal {
  padding: 1em;
  border-radius: 25px;
  background-color : rgba(255, 255, 255, 0.76);
  height : auto;
  width : 80%;
  border : 1px black solid;
  display: block;
  margin: 5em auto;
  text-align: center;

}
.SecMin {
  padding: 1em;
  background-color : white;
  height : auto;
  width : 60%;
  border : 1px black solid;
  text-align: center;
  display: block;
  margin: 5em auto;
}

.SecLog {
  padding: 1em;

  background-color : rgba(255, 255, 255, 0.76);
  height : auto;
  border-radius: 25px;
  box-shadow: 10px 10px 10px grey;
  width : 40%;
  border : 0px black solid;
  text-align: center;
  display: block;
  margin: 5em auto;
}

#SecGlobal_login {
  padding: 1em;
  position : Relative;
  background-color : white;
  height : auto;
  width : 600px;
  border : 1px black solid;
  margin: 2em auto auto auto
}


#Sec{
  position: absolute;
  top : 130px;
  left:180px;
}

/* Text Eingaben */
.textbox {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.Eingabe{
  position: relative;
  right:100px;
}

#BtnRegistrieren{
  position: absolute;
  border: none;
  left: 8em;
  padding: 15px 90px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.sub-titel{
  font-size: 50px;
  text-align: center;
}

/* Menu */
.fixed {
    position: fixed;
    top: 0;
}


/* Buttons and Select Tag */
.btn-edit{
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}

.btn-edit:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color:#0061a7;
}
.btn-edit:active {
  position:relative;
  top:1px;
}

.btn-del{
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color:#d0451b;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}

.btn-del:hover {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color:#bc3315;
}
.btn-del:active {
  position:relative;
  top:1px;
}

.btn-res{
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color:#74ad5a;
  border:1px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.btn-res:hover {
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  background-color:#68a54b;
}
.btn-res:active {
  position:relative;
  top:1px;
}
.form-del{
  display: inline;

}
.btn-add{
  box-shadow:inset 0px 1px 0px 0px #a6827e;
  background:linear-gradient(to bottom, #000000 5%, #000000 100%);
  background-color:#000000;
  border-radius:3px;
  border:1px solid #050505;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding: 8px 26px;
  text-decoration:none;
  text-shadow:0px 1px 0px #000000;
 }

.btn-Glob{
  width: 15%;
  box-shadow:inset 0px 1px 0px 0px #54a3f7;
  background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color:#007dc1;
  border-radius:3px;
  border:1px solid #124d77;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size: 16px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #154682;
}

.btn-Glob:hover {
  background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color:#0061a7;
}
.btn-Glob:active {
  position:relative;
  top:1px;
}

.btn-sign-in{
  box-shadow: 5px 10px 8px black;
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color:#ffffff;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:15px 35px;
  text-decoration:none;
  text-shadow:0px 1px 0px #ffffff;
}

.btn-sign-in:hover {
  background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color:#f6f6f6;
}
.btn-sign-in:active {
  position:relative;
  top:1px;
}

.Logout{

  position:fixed;
  right:10px;
}

select {
  border: 0 none;
  color: #000000;
  background: transparent;
  font-size: 15px;
  font-weight: bold;
  padding: 2px 10px;
  width: 378px;
  *width: 350px;
  *background: #58B14C;
}

.select-res{

  border-radius:1px;
  width:50%;
  background-color: rgba(255, 255, 255, 255);


}



/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #c1c1c1;
}

th, td {

  padding: 16px;
}

tr:nth-child(even) {
  background-color: #e2e2e2
}


img-profile img {

  display: block;
  margin: 0 auto;

}
.img-adm{

  height:30px;
  width:30px;

}

/* For mobile phones: */
[class*="col-"] {
  float: left;
  padding: 15px;
}


[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 1000px) {

  .col-s-btn {width: 1%; hight:1%; float: left;}
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
  .Layoutli {
    float:none;
  }
  .Logout{

    position:static;

  }

  .SecGlobal{

    display: block;
    margin: 1em auto;
    margin-top: 18em;


  }
  .SecLog{

    width:80%;
    margin-top: 8em;

  }
  .SecMin{

    margin-left: 1em;
    display: block;
    margin: 1em auto;
    margin-top: 18em;
    width: 80%;

  }
  .btn-edit{
    padding: 1px;
    width:10%;

  }
  .btn-del{

    padding: 1px;

  }
  .btn-res{

    padding: 1px;

  }

  .btn-Glob{

    margin: 0.1em;



    padding: 5px;


  }
  .btn-add{

    padding-bottom: 0.5px;
    width:30%;



  }
  table{ width: 100%;}
  th, td {
    padding: 4px;
  }
  th{

    font-size: 12px;

  }

  .img-adm {
    width: 20px;
    height: 20px;
  }

  .footer-container div {
    display: flow;


  }
  .footer-container table {
    margin-left: 2em;

  }

}




/* For small Mobiles: */
@media only screen and (max-width: 400px) {

  table{ width: 100%;}
  th, td {
    padding: 4px;
    font-size: 9px;
  }
  th{

    font-size: 9px;

  }

  .img-adm {
    width: 20px;
    height: 20px;
  }

  .Imgfooter{


    border-radius:100%;
  }

  .btn-del{

    padding: 1px;
    font-size: 11px;
  }
  .btn-edit{
    padding: 3px;

  }




}




@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


/* footer */

footer{
  text-align: center;
  color:white;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  background-color: black;
  padding: 0.5em;
}

.footerContent {
  margin-top: 0.5em;
}



.txt-bold{

  text-align: Center;
  font-size: 30px;

}